/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

/* About Section */
.about-section {
  background-color: #000;
  border-radius: 15px;
  color: #fff;
  padding: 60px 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.about-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.about-section p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Footer */
footer {
  height: 250px;
  margin: 40px;
  padding: 30px 40px;
  border: 1px solid #ddd;
  background-color: #d3d3d3;
  border-radius: 15px;
}

footer .footer-logo {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 20px;
  opacity: 35%;
}

footer nav ul {
  text-align: center;
  list-style: none;
  display: flex;
  gap: 120px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

footer nav a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: 1.5rem;
}
