<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRIZO - Comparison Page</title>
  <link rel="stylesheet" href="../static/comparsion_page.css">
  <link rel="stylesheet" href="../static/nav_footer.css">
</head>
<body>
   <!-- Header -->
  <header>
    <div class="logo">PRIZO</div>
    <div class="search-bar">
      <input type="text" placeholder="Search">
      <button>Search</button>
    </div>
  </header>

  <!-- Product Section -->
  <main>
    <div class="product-section">
      <div class="product-image">
        <img src="{{ url_for('static', filename='images/Iphone.jpg') }}" alt="Apple iPhone 17 Pro Max">
      </div>
      <div class="product-specs">
        <h1>Apple iPhone 17 Pro Max</h1>
        <ul>
          <li>128 GB ROM Store upto 3000 photos</li>
          <li>A18 Chip, 6 Core Processor | Hexa Core</li>
          <li>Superfast Multitasking, Extensive Gaming</li>
          <li>48MP + 12MP Rear Camera DSLR Like Pictures & Great Zoom</li>
          <li>12MP Front Camera High-Res Selfies Even in Low Light</li>
          <li>6.1 inch All Screen OLED Display</li>
          <li>Cinematic Display. Sharpest Colours</li>
        </ul>
      </div>
    </div>

    <!-- Comparison Section -->
    <section class="comparison">
      <h2>Best deal for you: Flipkart</h2>
      <div class="comparison-grid">
        <div class="deal-card">
          <img src="{{ url_for('static', filename='images/flipkart.jpg') }}" alt="Flipkart logo">
          <h3>Flipkart</h3>
          <p>Price: ₹1,25,000</p>
          <p>Rating: 4.5</p>
          <button>Visit site</button>
        </div>
        <div class="deal-card">
          <img src="{{ url_for('static', filename='images/amazon.png') }}" alt="amazon-logo">
          <h3>Amazon</h3>
          <p>Price: ₹1,45,000</p>
          <p>Rating: 4.0</p>
          <button>Visit site</button>
        </div>
        <div class="deal-card">
          <img src="{{ url_for('static', filename='images/myntra.png') }}" alt="Myntra logo">
          <h3>Myntra</h3>
          <p>Price: ₹1,50,000</p>
          <p>Rating: 4.1</p>
          <button>Visit site</button>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-logo">PRIZO</div>
    <nav>
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('about_page') }}">About</a></li>
        <li><a href="{{url_for('contact_page')}}">CONTACT</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
