<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRIZO</title>
  <link rel="stylesheet" href="../static//style.css">
</head>
<body>
  <header>
    <div class="logo">PRIZO</div>
    <nav>
      <ul>
        <li><a href="{{ url_for('about_page') }}">About</a></li>
        <li><a href="{{url_for('contact_page')}}">CONTACT</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>FIND THE BEST PRICE INSTANTLY</h1>
    <div class="search-bar">
      <input type="text" id="search-box" placeholder="Search...">
      <button type="submit" onclick="searchProduct()">Search</button>
    </div>
  </main>



  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
